<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication - x-funday</title>
  </head>
  <body>
    <section>
      <h1>Login register</h1>

      <!-- login.html -->
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
      <div>
        <a href="/register">Register</a>
      </div>
    </section>
  </body>
</html>
